/* Fondo oscuro general */
ion-content {
  --background: #121212;
  color: white;
}

/* Cabecera */
ion-header {
  --background: #000;
  --color: white;
}

/* Título */
h1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  color: white;
}

/* Subtitulo centrado */
.subtitulo {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: Arial;
  color: #d9d9d9;
}

/* Logo */
.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  max-width: 250px;
}

/* Tarjeta oscura */
.solicitud-item {
  background: #1e1e1e;
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 12px;
  color: white;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.05);
}

/* Título de solicitud */
h2 {
  font-size: 17px;
  font-weight: bold;
  margin: 0;
  color: black;
  text-transform: uppercase;
}

/* Descripción */
.descripcion {
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 6px;
  color: #808080;
  text-transform: uppercase;
}

/* Fecha */
.fecha {
  font-size: 12px;
  color: #606060;
}

/* Badge del estado */
.estado-badge {
  font-size: 12px;
  padding: 6px 8px;
  border-radius: 6px;
  text-transform: uppercase;
  font-weight: bold;
}
