/* Cabecera azul con texto blanco */
ion-header {
  --background: #003366; /* Color de fondo */
  --color: white; /* Color del texto */
}

/* Título principal */
h1 {
  text-align: center;
  font-size: 32px;
  margin-top: 20px;
  font-family: Helvetica;
}

/* Texto descriptivo */
h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

/* Separación entre los campos */
ion-item {
  margin-bottom: 20px;
}

/* Botones redondeados */
ion-button {
  --border-radius: 12px;
  font-size: 16px;
}

/* Logo centrado */
.logo {
  text-align: center;
  margin-bottom: 30px;
}

.logo img {
  max-width: 200px;
}

/* Texto en la parte inferior de términos y condiciones */
.terms-text {
  text-align: center;
  font-size: 14px;
  margin-top: 20px;
}

.terms-text a {
  color: #003366;
}