/* Fondo oscuro general */
ion-content {
  --background: #121212;
  color: white;
}

/* Cabecera oscura */
ion-header {
  --background: #000;
  --color: white;
}

/* Título centrado */
h1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
  color: white;
}

/* Subtítulo centrado */
.subtitulo {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
  font-family: Arial;
  color: #d9d9d9;
}

/* Logo centrado */
.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  max-width: 250px;
}

/* Tarjetas oscuras tipo items */
.cuenta-item {
  background: #1e1e1e;
  border-radius: 12px;
  margin-bottom: 12px;
  padding: 10px;
  color: white;
  box-shadow: 0 0 6px rgba(255, 255, 255, 0.05);
}

/* Título del campo */
.campo-titulo {
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  margin-bottom: 2px;
  color: #808080;
}

/* Valor del campo */
.campo-valor {
  margin: 0;
  font-size: 14px;
  color: #606060;
  text-align: left;
}
