/* Cabecera de color azul corporativo con texto blanco */
ion-header {
  --background: #003366; /* Fondo azul */
  --color: white; /* Texto en blanco */
}

/* Estilo del título de bienvenida */
h1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}

/* Subtítulo */
h2 {
  text-align: center;
  font-size: 32px;
  margin-top: 20px;
  font-family: Helvetica;
}

/* Descripción */
p {
  text-align: center;
  margin-bottom: 30px;
  font-size: 14px;
  font-family: Arial;
}

/* Espaciado entre los campos del formulario */
ion-item {
  margin-bottom: 20px;
}

/* Botones redondeados y con tamaño uniforme */
ion-button {
  --border-radius: 12px;
  font-size: 16px;
}

/* Contenedores del logo de la empresa */
.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  max-width: 317px;
}
