ion-header {
  --background: #003366; /* Color de fondo corporativo */
  --color: white;        /* Texto blanco */
}

/* Logo centrado */
.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  max-width: 317px;
}

/* Estilo de títulos */
h2 {
  text-align: center;
  font-size: 32px;
  margin-top: 20px;
  font-family: Helvetica;
  color: white;
}

/* Texto descriptivo */
p {
  text-align: center;
  margin-bottom: 30px;
  font-size: 14px;
  font-family: Arial;
  color: white;
}

/* Elementos del menú */
ion-item {
  margin-bottom: 20px;
  border-radius: 12px;
  --background: #ffffff; /* Fondo blanco */
  --color: #000000;      /* Texto negro */
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

/* Botones */
ion-button {
  --border-radius: 12px;
  font-size: 16px;
}
