/* Cabecera azul con texto blanco */ 

ion-header {
  --background: #003366; /* Azul corporativo */
  --color: white;        /* Texto blanco */
}

/* Logo centrado */
.logo {
  text-align: center;
  margin-bottom: 10px;
}

.logo img {
  max-width: 317px;
}

/* Estilo del título principal */
h1 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  font-family: Arial;
}

/* Texto descriptivo */
h2 {
  text-align: center;
  font-size: 32px;
  margin-top: 20px;
  font-family: Helvetica;
}

/* Descripción o párrafos */
p {
  text-align: center;
  margin-bottom: 30px;
  font-size: 14px;
  font-family: Arial;
}

/* Campos de formulario */
ion-item {
  margin-bottom: 20px;
}

/* Botones */
ion-button {
  --border-radius: 12px;
  font-size: 16px;
}

/* Estilo para el bloque que muestra el producto seleccionado */
.producto-info {
  margin-top: 25px;
}

.producto-info h2 {
  text-align: center;
  font-size: 20px;
  font-family: Helvetica;
  margin-bottom: 10px;
}

/* Estilo de las tarjetas de producto */
ion-card {
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  text-align: center; /* Centra todo el contenido de la tarjeta */
  margin: auto;
  width: 90%;
}

/* Logo centrado */
ion-card img {
  display: block;
  margin: 0 auto;
  width: 20%;
  height: auto;
  object-fit: contain;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

/* Texto dentro de la tarjeta */
ion-card-title {
  font-size: 16px;
  color: #000000;
}

ion-card-subtitle {
  color: #555555;
}

ion-card-content p {
  color: #000000;
  text-align: center;
}
